__pycache__
.idea
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.sav.tmp
*.spl
*.synctex.gz
*.toc
PIC/*
SUBLOADING.pdf
*venv
